#group {
  color: black;
  padding-top: 0;
  background-color: #0084c5;
  border: 0;
  background-image: url(./?folderinfo=/header.jpg);
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  padding-top: 300px;
}

#publinks {
  float: left;
  font-size: 11px;
  padding-left: 25px;
}

.label {
  color: #ffffff;
}


