#group {
  color: black;
  padding-top: 0;
  background-color: #ffffff;
  border: 0;
  background-image: url(./?folderinfo=/header.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  padding-top: 284px;
}

#publinks {
  float: left;
  font-size: 11px;
  padding-left: 25px;
}

.label {
  color: #b31d0e;
}


